{% extends "blog/base.html" %}
{% load staticfiles %}

<body>
    {% block page_header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static "img/sticker-mule-189207.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
    {% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p align="justify">Hello! My name is Christopher and I'm an engineer (but not a software) I'm even a master (but not in python yet!).
    What should I do after learning how to drill an oil well? It's time to move from bits to bytes.
    While we teach we learn, being able to understand an idea well enough to convey it to others will help you internalize it yourself.
    I like to think of it as sharing, rather then teaching so frombitstobytes has been created with the goal of sharing everything that
    I might find interesting and helpful in python field. I hope will find something useful here.</p>
                <p>Feel free to contact me if you'd like to get in touch.</p>
            </div>
        </div>
    </div>

    <hr>
</body>
    {% endblock %}