{% extends "blog/base.html" %}
{% load staticfiles %}

<body>
    {% block page_header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static "img/contact-bg.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Contact Me</h1>
                        <hr class="small">
                        <span class="subheading">Have questions? I have answers (maybe).</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
    {% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!</p>
                    <form method="post">
                        {% for field in form %}
                        {% csrf_token %}
                            <div>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        {{ field.errors }}
                                        {{ field.label_tag }}
                                        {{ field }}
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <br>
                         {% if messages %}
                         <div id="success">
                             {% for message in messages %}
                                <div class="alert {{ message.tags }}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <strong>
                                            {{ message }}
                                        </strong>
                                </div>
                             {% endfor %}
                         </div>
                         {% endif%}
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <div class="form-actions">
                                <script src='https://www.google.com/recaptcha/api.js'></script>
                                <div class="g-recaptcha" data-sitekey="6Lf7zB8UAAAAAAwfHOKh63uB3og5VEx1LYKl4cKg"></div>
                                <button type="submit" class="btn btn-default">Send</button>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>

    <hr>
    {% endblock %}
</body>
