{% load staticfiles %}
 <!-- Page Header -->
    <header class="intro-header" style="background-image: url('{% static "img/home-ferdinand-stohr-149422.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <div class="site-heading">
                        <h1>from bits to bytes</h1>
                        <hr class="small">
                        <span class="subheading">just a few words about Python</span>
                    </div>

                </div>
            </div>
        </div>
    </header>
