{% extends "blog/base.html" %}
{% load staticfiles %}

<body>
    {% block page_header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static "img/pablo-garcia-saldana-94058.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>400</h1>
                        <hr class="small">
                        <span class="subheading">400 BAD REQUEST</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
    {% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h1 align="center">Your request resulted in an error.</h1>
                   <ul class="pager">
                       <li class="next">
                           <a href="{% url 'contact' %}"><h4>CONTACT</h4></a>
                       </li>
                       <li class="previous">
                           <a href="{% url 'blog:post_list' %}"><h4>HOME</h4></a>
                       </li>
                    </ul>
            </div>
        </div>
    </div>

    <hr>
</body>
    {% endblock %}