appdirs==1.4.3
coverage==4.3.4
Django==1.11.1
django-ckeditor==5.2.2
django-disqus==0.5
django-taggit==0.22.1
mock==2.0.0
olefile==0.44
packaging==16.8
pbr==3.0.0
Pillow==4.1.1
pkg-resources==0.0.0
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
