{% extends "blog/base.html" %}
{% load staticfiles %}

<body>
<!-- Page Header -->
 {% block page_header %}
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ images.image.url }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.subtitle }}</h2>
                        <span class="meta">Posted by <a href="{% url 'about' %}">{{ post.author }}</a> on {{ post.publish|date:"F d, Y" }}</span>
                    </div>

                </div>
            </div>
           
    </header>
 {% endblock %}
 {% block content %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <script>hljs.initHighlightingOnLoad();</script>
                    {{ post.body|safe }}
                    {% for tag in post.tags.all %}
                        <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                            <span class="label label-default">{{ tag.name }}</span>
                        </a>
                    {% endfor %}
                        <hr>
                        {% load disqus_tags %}
                        {% set_disqus_identifier post.slug %}
                        {% set_disqus_url "http://example.com" post.get_absolute_url %}
                        {% set_disqus_title post.title %}
                        {% disqus_show_comments %}
                </div>
            </div>
        </div>
    </article>

    <hr>

</body>
 {% endblock %}
